:root {
    /* --clr-bg: rgb(79, 98, 110); */
    --clr-bg: rgb(93, 104, 107);
    --clr-main: rgb(44, 72, 114);
    --clr-highlight: #99a2a3;
    --clr-a: rgb(74, 138, 146);
    --clr-c: rgb(95, 100, 143);


    --px-5: 10px;
}

*, *::after *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    /* background: rgba(128, 21, 21, 0.192); */
}

body {
    background: var(--clr-bg);
    
}

.containerMain {}

.containerWeek {
    margin-top: 5rem;
    /* border: 3px solid black; */
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 25rem);
}

.trainingDay {
    background: var(--clr-main);
}

.subTitle {
    background: var(--clr-a);
    /* border-bottom: 2px solid var(--clr-c); */
    /* padding-left: 6.5rem; */
    text-align: center;
    font-weight: 600;
}

.subTitle2 {
    /* text-align: center; */
    /* padding-left: rem !important; */
    background: var(--clr-highlight) !important;
    border-radius: 0px !important;
    border-top-left-radius: var(--px-5) !important;
    border-top-right-radius: var(--px-5) !important;
    /* width: 7rem; */
    border-bottom: 5px solid var(--clr-a);
    display: flex;
    justify-content: center;
}

.indicator {
    transform: translate(5px, -10px);
    width: 1rem;
    height: 1rem;
    margin-top: 1rem;
    border-radius: 50px;
    outline: 2px solid black;
    /* background: var(--clr-highlight); */
}

.indicator:hover {}

.trainingDay h3 {
    margin: auto;
    /* padding-left: 1rem; */
    text-align: center;
}

.containerWeek h3 {
    background: var(--clr-a);
    /* border-bottom-left-radius: var(--px-5); */
}

.bg-col {
    background: var(--clr-a);
    text-align: center;
}

.font-b {
    font-weight: 600;
}

.trainingMax {
    display: flex;
    justify-content: center;
    /* gap: 2rem; */
    column-gap: 2rem;
    /* text-align: left; */
    padding-top: 3rem;
}

.trainingMax input {
    width: 5rem;
}

.plan-two-container {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding-top: 5rem;
}

.trainingWeek {
    background: var(--clr-main);
    box-shadow: 0 5px 10px 2px rgb(65, 63, 63);
    width: 20rem;
    /* margin: auto; */
    text-align: left;
    /* border-left: 20px solid var(--clr-b); */
    /* border-radius: 10px; */
    transform: translateY(-20px);
}

.trainingWeek li {
    list-style: none;
    font-weight: 600;
    transform: translateX(-15px);
    padding: .5rem;
    background: var(--clr-highlight);
    outline: 2px solid rgb(1, 4, 44);
    padding-left: 2rem;
    cursor: pointer;
}

.trainingWeek li:hover {
    background: var(--clr-bg);
}

.list {
    background: var(--clr-main);
}

.containerContent {
    display: flex;
    flex-direction: column;
}

.rep {
    background: var(--clr-highlight);
    text-align: center;
    width: 15rem;
    /* margin: auto; */
    margin-left: 2.5rem;
    border: 2px solid black;
    height: 1.75rem;
    cursor: pointer;
}

.rep:hover {
    background: var(--clr-bg);
}

.reps {
    font-weight: 700;
    /* text-align: left; */
    float: right;
    padding-right: 2rem;
    background: var(--clr-d);
}

.info {
    display: flex;
    flex-direction: column;
}

.link {
    font-weight: 600;
    color: rgb(94, 27, 94);
    cursor: pointer;
    user-select: none;
}

#infoHeader {
    background: var(--clr-highlight);
    padding: .5rem;
}

#infoSubtitle {
    background: var(--clr-highlight);
    transform: translateY(-22px);
    /* width: fit-content; */
    max-width: 20rem;
    margin: auto;
    padding: .5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid var(--clr-c);
    font-weight: 500;
}

#infoDesc {
    max-width: 70rem;
    margin: auto;
    text-align: left;
    font-size: 1.3rem;
}

.inputText {
    background: var(--clr-a);
    font-weight: 600;
    /* border-top-left-radius: var(--px-5); */
    /* border-top-right-radius: var(--px-5); */
    padding: 5px;
    text-align: center;
}

.inputContainer input {
    /* background: var(--clr-highlight); */
    /* border-radius: 50px; */
    border: none;
    /* border: 2px solid black; */
    padding: 5px;
    padding-left: 70px;
    transform: translateY(-17px);
    background: var(--clr-highlight);
    border-bottom: 5px solid var(--clr-c);
}

.inputContainer input:hover {
    background: var(--clr-c);
}

.calculator {
    /* padding-top: 20px; */
    transition: all 1s ease;
}

.calculator form {
    /* display: flex;
    flex-direction: column; */
    width: 10rem;
    margin: auto;
}


.calculator input, button, select, option {
    /* width: 2rem; */
    /* background-color: var(--clr-a); */
    background-color: rgb(218, 210, 210);
    border: none;
    border-radius: 5px;
    text-align: center;
}

.calculator input[type="number"] {
    width: 3rem;
}

.calculator button {
    background: var(--clr-highlight);
    height: 2rem;
    margin-top: 1rem;
}

.age-weight {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5rem;
}


.calculator input[type="radio"] {}

#calories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    /* gap: 50px; */
    column-gap: 50px;
    font-weight: 600;
    font-size: 1rem;

    /* border: 3px solid wheat; */
}


#bulk p, #maintain p, #cut p {
    width: 5rem;
}


.caloriesInfo {
    /* width: 2rem; */
    text-align: center;
    /* width: 15rem; */
    /* white-space: pre; */
    flex: 0 1 100%;
    padding: 10px;
    transform: translateY(-50px);
    font-weight: 400;
    font-style: italic
}


#bulk :nth-child(1), #maintain :nth-child(1), #cut :nth-child(1) {
    background: var(--clr-a);
    /* border-top-left-radius: var(--px-5); */
    /* border-top-right-radius: var(--px-5); */
    padding-bottom: 5px;
}

#bulk :nth-child(2), #maintain :nth-child(2), #cut :nth-child(2) {
    background: var(--clr-highlight);
    transform: translateY(-16px);
    border-bottom: 5px solid var(--clr-c);
}

.icon-m {
    font-size: 1.5rem;
    background: var(--clr-highlight);
    z-index: 10;
}

.info-link {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease;
}

#btn-calc:active>.calculator {
    transform: translateY(10px);
}

#infoPopup {
    position: absolute;
    transform: translate(400px, -30px);
    /* border: 3px solid yellow; */
    z-index: 1;
    padding: 10px;
    max-width: 30rem;
    text-align: left;
    /* border: 2px solid var(--clr-main); */
    border-bottom: 2px solid var(--clr-main);
    /* border-radius: 20px; */
    background: var(--clr-highlight);
}

.liftType {
    display: flex;
    justify-content: center;
}

.placeholder {
    color: rgb(46, 43, 43);
    font-style: italic;
    font-size: .9rem;
}

/* .icon-m:active+.info-link {} */