*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    /* --clr-bg: rgb(79, 98, 110); */
    --clr-bg: #7584a8;
    --clr-main: #2c4872;
    --clr-highlight: #bbc3ca;
    --clr-text-bg: rgba(61, 59, 59, 0.377);
    --clr-text-bg-02: rgba(54, 51, 51, 0.473);
    --px-5: 10px;
}

* {
    /* background: rgba(180, 80, 80, 0.192); */
    /* outline: 3px solid red; */
}

body {
    background: var(--clr-bg);
    background: rgb(36, 35, 35);
    background: black;
    overflow: scroll;
    overflow-x: hidden;
}

.height-s {
    height: 1rem;
}

.navbar-container {
    background: var(--clr-main);
    background: #3f5479;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid black;
    color: white;
}

.navbar-container>h1 {
    font-size: 2.5rem;
}

a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
}

.wrapper-landing {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}


#barbell {
    color: rgb(204, 143, 29);
}

#dumbell {
    color: rgb(119, 218, 171);
}

#bodyweight {
    color: rgb(223, 223, 77);
}

.landing-body {
    font-size: 1.5rem;
    position: absolute;
    transform: translate(13rem, -25rem);
    color: inherit;
    max-width: 25rem;
    text-align: left;
}

.landing-btn {
    text-transform: capitalize;
    border: 4px solid;
    padding: 30px;
    background: var(--clr-text-bg-02);
    text-shadow: 1px 1px black;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    width: 25rem;
    text-align: center;
    font-size: 2.5rem;
    color: inherit;
    font-weight: 700;
    cursor: pointer;
}

.landing {
    transition: all 600ms ease;
}

.landing:hover>.landing-img {
    height: 700px;
    transition: all 600ms ease;
}


.landing-text {
    padding: 0 5px;
    font-weight: 700;
    background: var(--clr-text-bg);
}

.landing-img {
    width: 600px;
    width: 100vw;
    height: 600px;
    object-fit: cover;
    transition: all 300ms ease;

}

.navbar-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 1.75rem;
    font-weight: 400;
    padding-bottom: .5rem;
}

link {
    text-decoration: none;
}

.icon-row {
    display: flex;
    gap: 1.5rem;
    font-size: 2rem;
    background: var(--clr-text-bg);
}

.icon-row p {
    font-weight: 700;
    padding: 0 5px;
}

.title {
    /* background: black; */
    width: 100vw;
    color: var(--clr-highlight);
    /* background: var(--clr-main); */
    /* background: rgba(0, 0, 0, 0.815); */
    background: var(--clr-main);
    font-size: 2.5rem;
}

.img-lifting {
    width: 200px;
    height: auto;
}

.link-hover {
    background: var(--clr-a);
    position: absolute;
    height: .4rem;
    border-radius: 100px;
    width: 6rem;
    transform: translateY(2.5rem);
    transition: transform 120ms ease-out, width 300ms ease-out;
}

#link-one {
    transform: translate(-4.4rem, 2.5rem);
}

#link-two {
    transform: translate(3.6rem, 2.5rem);
    width: 7rem;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 2rem;
    padding-top: 1rem;
    background: var(--clr-text-bg);
}

.btn-arrow {
    font-size: 2rem;
    /* padding: 5px 10px; */
    background: var(--clr-text-bg);
    background: var(--clr-main);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: var(--clr-highlight);
}

.btn-arrow:hover {
    background: var(--clr-highlight);
    color: var(--clr-main);
}

.bg-col {
    background: var(--clr-a);
    text-align: center;
}

.font-b {
    font-weight: 600;
}

.trainingMax {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

.trainingMax input {
    width: 5rem;
}

.plan-two-container {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding-top: 5rem;
}

.select-container {
    display: flex;
    justify-content: center;
}

.select-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.select-btn {
    cursor: pointer;
}

.trainingWeek li:hover {
    background: var(--clr-bg);
}

.containerContent {
    /* display: flex; */
    flex-direction: column;
}

.subtitle {
    /* text-transform: capitalize;
    background: var(--clr-highlight); */
    /* height: fit-content; */
    color: var(--clr-highlight);
    font-weight: 700;
    /* background: var(--clr-main); */
    /* background: rgb(254, 255, 255); */
    /* width: 30rem; */
    /* margin: auto; */
    text-shadow: 1px 1px black;
    padding: 0.5rem 0;
}

.program {
    background: var(--clr-main);
}

.wrapper-barbell {
    display: grid;
    grid-template-columns: repeat(2, 20%);
    justify-content: center;
    /* align-items: center; */
    /* column-gap: 2rem; */
    row-gap: 2rem;
    /* padding-top: 3rem; */
    padding: 2rem 0;
    /* list-style: none; */
    /* background: rgba(61, 59, 59, 0.377); */
    background: var(--clr-text-bg);
}

.description {
    text-align: left;
    color: var(--clr-highlight);
    font-weight: 700;
    margin: auto;
    background: var(--clr-text-bg);
    padding: 5px 10px;
    text-shadow: 2px 2px black;
}


.wrapper-barbell li {}

.list li {
    display: flex;
    justify-content: space-between;
}

.set {
    list-style: none;
    text-align: left;
    padding: 5px 0;
    background: var(--clr-highlight);
    border: 1px solid black;
    padding-left: 1.5rem;
}


.wrapper-dumbell {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background: rgba(61, 59, 59, 0.377); */
    background: var(--clr-text-bg);
    /* padding: 2rem 0; */
}

.wrapper-dumbell ul {
    list-style-type: none;
    width: 25rem;
}

.wrapper-dumbell li {}

.wrapper-bg {
    position: absolute;
    top: 0;
    /* left: 0; */
    right: 0;
    z-index: -1;
    width: 100vw;
    /* border: 3px solid green; */
}

.wrapper-bodyweight {
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 2rem; */
    /* width: 30%; */
    /* margin: auto; */
    background: var(--clr-text-bg);
}

.bodyweight-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
}

.bg-image {
    object-fit: cover;
    /* width: 100vw; */
    width: 100%;
    height: 100vh;
    filter: blur(5px);
}

.program-title {
    color: var(--clr-highlight);
    text-transform: capitalize;
}

.unit {
    float: left;
    padding-left: 1rem;
    font-weight: 400;
}

.rep:hover {
    background: var(--clr-bg);
}

.reps {
    font-weight: 700;
    /* text-align: left; */
    float: right;
    padding-right: 2rem;
}

.list {
    /* padding-right: 2.5rem; */
}

.info {
    display: flex;
    flex-direction: column;
}

.link {
    text-decoration: none;
    font-weight: 700;
}

#infoHeader {
    background: var(--clr-highlight);
    padding: .5rem;
}

#infoSubtitle {
    background: var(--clr-highlight);
    transform: translateY(-22px);
    /* width: fit-content; */
    max-width: 20rem;
    margin: auto;
    padding: .5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid var(--clr-c);
    font-weight: 500;
}

#infoDesc {
    max-width: 70rem;
    margin: auto;
    text-align: left;
    font-size: 1.3rem;
}

.input-text {
    /* background: var(--clr-a); */
    /* font-weight: 600; */
    /* padding: 5px; */
    /* text-align: center; */
}

.wrapper-input {
    background: var(--clr-text-bg-02);
    padding-bottom: 1rem;
}

.training-max {
    color: var(--clr-highlight);
    font-weight: 700;
    text-transform: uppercase;
    width: 5rem;
    text-align: left;
}

.training-max-input {
    border-radius: 3px;
    padding: 2px 5px;
    border: 2px solid black;
    text-align: center;
}

/* .inputContainer input {
    border: none;
    padding: 5px;
    padding-left: 70px;
    transform: translateY(-17px);
    background: var(--clr-highlight);
    border-bottom: 5px solid var(--clr-c);
}

.inputContainer input:hover {
    background: var(--clr-c);
} */

.calculator {
    /* padding-top: 20px; */
    /* transition: all 1s ease; */
    background: var(--clr-main);
    max-width: 25rem;
    margin: auto;
    /* width: fit-content;
    margin: auto;
    padding: 10px;
    padding-top: 5px; */
    border-radius: 20px;
    /* padding-bottom: 2rem; */
    font-weight: 600;
}

.calculator form {
    /* display: flex;
    flex-direction: column; */
    width: 10rem;
    margin: auto;
}

.view-container {
    /* display: flex;/ */
    align-items: baseline;
    justify-content: center;
    gap: .5rem;
}

.calculator input, select, option {
    /* width: 2rem; */
    /* background-color: var(--clr-a); */
    /* background-color: rgb(218, 210, 210); */
    border: none;
    /* border-radius: 5px;/ */
    text-align: center;
}

.calculator input[type="number"] {
    width: 3rem;
}

.calculator button {
    background: var(--clr-highlight);
    height: 2rem;
    margin-top: 1rem;
}

.age-weight {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5rem;
}

#calories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    column-gap: 50px;
    font-weight: 600;
    font-size: 1rem;
}


#bulk p, #maintain p, #cut p {
    width: 5rem;
}

.caloriesInfo {
    text-align: center;
    flex: 0 1 100%;
    padding: 10px;
    transform: translateY(-50px);
    font-weight: 400;
    font-style: italic
}


#bulk :nth-child(1), #maintain :nth-child(1), #cut :nth-child(1) {
    background: var(--clr-a);
    /* border-top-left-radius: var(--px-5); */
    /* border-top-right-radius: var(--px-5); */
    padding-bottom: 5px;
}

#bulk :nth-child(2), #maintain :nth-child(2), #cut :nth-child(2) {
    background: var(--clr-highlight);
    transform: translateY(-16px);
    border-bottom: 5px solid var(--clr-c);
}

.icon-m {
    font-size: 1.2rem;
    cursor: pointer;
}

.icon-m:hover {
    font-size: 1.3rem;
}

.icon-m:active {
    font-size: 1.4rem;
}

.info-text {
    max-width: 35rem;
    margin: auto;
    text-align: left;
}

.info-link {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease;
}

.opacity-none {
    opacity: 0;
    pointer-events: none;
    height: 0;
    width: 0;
}

#btn-calc:active>.calculator {
    transform: translateY(10px);
}

#infoPopup {
    position: absolute;
    transform: translate(400px, -30px);
    /* border: 3px solid yellow; */
    z-index: 1;
    padding: 10px;
    max-width: 30rem;
    text-align: left;
    /* border: 2px solid var(--clr-main); */
    border-bottom: 2px solid var(--clr-main);
    /* border-radius: 20px; */
    background: var(--clr-highlight);
}

.placeholder {
    color: rgb(46, 43, 43);
    font-style: italic;
    font-size: .9rem;
}