@media (max-width: 400px) {
    .trainingWeek {
        max-width: 15rem;
    }

    .trainingMax {
        flex-direction: column;
        padding-left: 8rem;
        width: 5.5rem;
    }
    .trainingMax input {
        /* width: 20rem; */
    }

}

@media (max-width: 900px) {
    .containerWeek {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    .trainingMax {
        /* flex-direction: column; */
    }

    .trainingMax input {
    }

    .info p {
        padding: 1rem;
    }

    .inputContainer input {
        padding-left: 0;
        text-align: center;
    }

    .plan-two-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .trainingWeek {
    }
}

@media (max-width: 1400px) {
    .containerWeek {
        display: flex;
    }

    #infoPopup {
    transform: translate(0, 0);
    }

    .trainingMax {
    }

}